body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* th, td {
  border: 1px solid black; 
  padding: 10px;
} */

.chat-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-message {
  background-color: #F1F0F0;
  color: #000;
  border-radius: 15px;
  padding: 10px;
  max-width: 50%;
  align-self: flex-start;
  margin-bottom: 5px;
}

.gpt-message {
  background-color: #0099FF;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  max-width: 50%;
  align-self: flex-end;
  margin-bottom: 5px;
}
