<h1>About the App</h1>
<p class="bg-info text-danger">GPT Demo App Team 11</p>

<ul>
  <li>Anna's App is a translation app that lets the user choose any language and then have whatever they want
    translated. It is in bubble texting format to make it look like you're chatting with a real translator.</li>
  <li>Brooke's App</li>
  <li>Debbie's App changes any code into java code! </li>
  <li>Simon's App reframes user's input with positive notes.</li>
</ul>
