<h1>About the App</h1>
<p class="bg-info text-danger">GPT Demo App Team 11</p>

<ul>
  <li>Anna's App is a translation app.</li>
  <li>Brooke's App</li>
  <li>Debbie's App</li>
  <li>Simon's App reframes user's input with positive notes.</li>
</ul>
