<body style="background-color:white;">
    <h1> Brooke's Method </h1>
    <h5> Please input code so that the computer will comment on it: </h5>
    <form action="/brookeApp/test" method="POST">
    
        <label for="inputRequest">Request:</label>
        <input type="text" name="inputRequest" id="inputRequest" placeholder="Enter your request here" required>
    
        <button type="submit" value="submit"> Submit </button>
    
    </form>
    
    <%= items %>