<!-- debbie-form.ejs -->
<h1>Debbie's method</h1>
<form action="/debbieApp" method="POST">

    <label for="inputRequest">Request</label>
    <input type="text" name="inputRequest" id="inputRequest" placeholder="Enter your request here" required>

    <button type="submit" value="submit">Submit</button>

</form>