<h1> Simon's GPT Demo for <%= user.username %> </h1>

  <div class="row">
    <form method="post" action="simonApp">
        Prompt: <input type="text" name="userInput">
        <input type="submit" value="send">
    </form>
    <br>
    <%=items %>
    
  </div>
