<h1 style="font-family: 'Montserrat'; font-size: 60px;">About Us</h1>
<p style="font-family: Georgia; font-size: 18px;">Our team, Team 11, is comprised of 4 members: Anna, Brooke, Simon, and Deborah.</p>

<div style="font-family: 'Impact', cursive; font-size: 35px; color: rgb(91, 95, 215); margin-bottom: 8px;">
    Anna
</div>
<p style="font-family: 'Georgia'; font-size: 16px">
    Anna is a computer science major with a minor in Architecture. She is a sophomore at Brandeis.
    Her role was styling along with changing some of the code in the app.js file for connecting GPT.
    She also played with various things like the prompt field with GPT code. Also had something to do with
    the modals, more realizing that each person had to have a separate model. Otherwise using the same database
    would make every submission in other people's apps visible.
</p>
<br>

<div style="font-family: 'Impact', cursive; font-size: 35px; color: rgb(91, 95, 215); margin-bottom: 8px;">
    Brooke
</div>
<p style="font-family: 'Georgia'; font-size: 16px">
    Brooke is a computer science student.
</p>
<br>

<div style="font-family: 'Impact', cursive; font-size: 35px; color: rgb(91, 95, 215); margin-bottom: 8px;">
    Simon
</div>
<p style="font-family: 'Georgia'; font-size: 16px">
    Simon is a computer science student.
</p>
<br>

<div style="font-family: 'Impact', cursive; font-size: 35px; color: rgb(91, 95, 215); margin-bottom: 8px;">
    Deborah
</div>
<p style="font-family: 'Georgia'; font-size: 16px">
    Deborah is a computer science major with a minor in economics. She worked on creating the team page along with the fun stylistic features. 
    She added the LinkedIn Hyperlink as well as ensuring that the GPT prompts were working as expected. She also worked on improving the visual features of her GPT page.

</p>
<br>

<br>
<button><b><a href='/'>Home</a></b></button>
