<h1 style="font-family: 'Montserrat'; font-size: 60px;">About Us</h1>
<p style="font-family: Georgia; font-size: 18px;">Our team, Team 11, comprises 4 members: Anna, Brooke, Simon, and Deborah.</p>

<div style="font-family: 'Impact', cursive; font-size: 35px; color: rgb(91, 95, 215); margin-bottom: 8px;">
    Anna
</div>
<p style="font-family: 'Georgia'; font-size: 16px">
    Anna is a computer science student.
</p>
<br>

<div style="font-family: 'Impact', cursive; font-size: 35px; color: rgb(91, 95, 215); margin-bottom: 8px;">
    Brooke
</div>
<p style="font-family: 'Georgia'; font-size: 16px">
    Brooke is a computer science student.
</p>
<br>

<div style="font-family: 'Impact', cursive; font-size: 35px; color: rgb(91, 95, 215); margin-bottom: 8px;">
    Simon
</div>
<p style="font-family: 'Georgia'; font-size: 16px">
    Simon is a computer science student.
</p>
<br>

<div style="font-family: 'Impact', cursive; font-size: 35px; color: rgb(91, 95, 215); margin-bottom: 8px;">
    Deborah
</div>
<p style="font-family: 'Georgia'; font-size: 16px">
    Deborah is a computer science student.
</p>
<br>

<br>
<button><b><a href='/'>Home</a></b></button>
